    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        overflow-x: hidden
    }

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Mulish:wght@200;300;400;500;800&family=Roboto&family=Roboto+Mono:wght@400;500&display=swap');

    :root {

        --teste: #e28c52;
        --teste2: #f08958;

        --primary-font-color-init: #fff;
        --primary-font-color-end: #fff;
        --second-font-color: #fff;
        --bg-color: #fff;
        --bg-aux-color:	#fff;

        --body-font: 'Montserrat', sans-serif;

        /* 1rem : 16px, 0.5rem = 8px */
        --large-font-size: 3.15rem;
        --media-title-font-size: 1.9rem;
        --h1-font-size: 1.5rem;
        --normal-font-size: 1.575rem;
        --media-body-font-size: 1.07rem;
        --small-font-size: 0.815rem;
        --smaller-font-size: 0.75rem;
        
        /* Font weight */
        --font-mid: 500;
        --font-semi-bold: 600;
        --font-bold: 700;

        /* Margin size - Bottom */
        /* .25rem : 4px, .5rem : 8px, 1rem : 16px, .75rem : 12px */
        --mb-025: 0.25rem;
        --mb-05: 0.5rem;
        --mb-075: 0.75rem;
        --mb-1: 1rem;
        --mb-125: 1.25rem;
        --mb-15: 1.5rem;
        --mb-2: 2rem;
        --mb-25: 2.5rem;
        --mb-3: 3rem;
    }

    body{
        background-color: #fff;
    }

    .container{
        margin: 25px 0 0 50px;
        height: 700px;
        /* Center vertically */
        /* display: flex; */
        /* align-items: center; */
    }

    .hito-logo{
        display: flex;
        justify-content: start;
        max-height: 200px;
    }

    img {
        max-width: 50px;
        margin: 15px 50px 50px 0;
    }

    ul {
        display: flex;
        flex-direction: row;
    }
   



